.logos {
  width: 150px;
  height: 150px;
}

.contactheader {
  background: linear-gradient(red, blue);
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Calibri", sans-serif;
}
.contactheader h1 {
  text-align: center;
  width: 100%;
  font-size: 40px;
  color: white;
  align-self: end;
}
.contactheader img {
  width: 30%;
  height: 50%;
  align-self: center;
}
.contactheader nav {
  justify-content: flex-end;
  width: 99%;
  align-self: end;
  gap: 20px;
  font-size: 25px;
}
.contactheader nav ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 20px;
}
.contactheader nav ul li {
  flex-direction: row;
}
.contactheader nav ul li a {
  text-decoration: none;
  color: white;
  gap: 20px;
}

.maincontact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}

.contactmain {
  transform: translateY(100px);
  height: 80%;
}

.contactfooter {
  background: linear-gradient(blue, red);
  height: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  font-family: "Calibri", sans-serif;
  width: 99%;
  height: 100%;
  align-content: flex-end;
  transform: translateY(130px);
}

.fixtureheader {
  background: linear-gradient(red, blue);
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Calibri", sans-serif;
}
.fixtureheader h1 {
  text-align: center;
  width: 100%;
  font-size: 40px;
  color: white;
  align-self: end;
}
.fixtureheader img {
  width: 30%;
  height: 50%;
  align-self: center;
}
.fixtureheader nav {
  justify-content: flex-end;
  width: 100%;
  align-self: end;
  gap: 20px;
  font-size: 25px;
}
.fixtureheader nav ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 20px;
}
.fixtureheader nav ul li {
  flex-direction: row;
}
.fixtureheader nav ul li a {
  text-decoration: none;
  color: white;
  gap: 20px;
}

#mainfixture {
  transform: translateY(400px);
  display: flex;
  flex-direction: row;
  width: 99%;
  justify-content: center;
}
#mainfixture table {
  width: 100%;
  height: 100%;
  align-items: center;
}

.fixturefooter {
  background: linear-gradient(blue, red);
  height: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  font-family: "Calibri", sans-serif;
  transform: translateY(100px);
}

@media only screen and (max-width: 1200px) {
  .containermerch {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "head head" "mainmerch mainmerch" "mainmerch mainmerch" "footer footer";
  }
  .containermerch .headermerch {
    grid-area: head;
    background: linear-gradient(red, blue);
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Calibri", sans-serif;
  }
  .containermerch .headermerch h1 {
    text-align: center;
    width: 100%;
    font-size: 40px;
    color: white;
    align-self: end;
  }
  .containermerch .headermerch img {
    width: 30%;
    height: 50%;
    align-self: center;
  }
  .containermerch .headermerch nav {
    justify-content: flex-end;
    width: 100%;
    align-self: end;
    gap: 20px;
    font-size: 25px;
  }
  .containermerch .headermerch nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 20px;
  }
  .containermerch .headermerch nav ul li {
    flex-direction: row;
  }
  .containermerch .headermerch nav ul li a {
    text-decoration: none;
    color: white;
    gap: 20px;
  }
  .containermerch .mainmerch {
    transform: translateY(6px);
    grid-area: mainmerch;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "camiseta gorras" "cartas pelotas";
  }
  .containermerch .mainmerch #remeras {
    width: 100%;
    height: 300px;
  }
  .containermerch .mainmerch #pelotas {
    width: 100%;
    height: 300px;
  }
  .containermerch .mainmerch #gorrasnfl {
    width: 100%;
    height: 300px;
  }
  .containermerch .mainmerch #cartasnfl {
    width: 100%;
    height: 300px;
  }
  .containermerch .footermerch {
    grid-area: footer;
    background: linear-gradient(blue, red);
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    font-family: "Calibri", sans-serif;
  }
}
.teamheader {
  background: linear-gradient(red, blue);
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Calibri", sans-serif;
}
.teamheader h1 {
  text-align: center;
  width: 100%;
  font-size: 40px;
  color: white;
  align-self: end;
}
.teamheader img {
  width: 30%;
  height: 50%;
  align-self: center;
}
.teamheader nav {
  justify-content: flex-end;
  width: 100%;
  align-self: end;
  gap: 20px;
  font-size: 25px;
}
.teamheader nav ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 20px;
}
.teamheader nav ul li {
  flex-direction: row;
}
.teamheader nav ul li a {
  text-decoration: none;
  color: white;
  gap: 20px;
}

#teammain {
  transform: translateY(400px);
  display: flex;
  flex-direction: row;
  width: 99%;
  justify-content: center;
}
#teammain .tabla {
  width: 100%;
  height: 100%;
  align-items: center;
  transform: translateY(-300px);
}

.teamfooter {
  background: linear-gradient(blue, red);
  height: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  font-family: "Calibri", sans-serif;
  transform: translateY(200px);
}

.container {
  display: grid;
  grid-template-columns: 99%;
  grid-template-rows: 1fr 1.5fr 0.5fr;
  grid-template-areas: "head" "main" "footer";
}
.container header {
  grid-area: head;
  background: linear-gradient(red, blue);
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Calibri", sans-serif;
}
.container header h1 {
  text-align: center;
  width: 100%;
  font-size: 40px;
  color: white;
  align-self: end;
}
.container header img {
  width: 30%;
  height: 50%;
  align-self: center;
}
.container header nav {
  justify-content: flex-end;
  width: 100%;
  align-self: end;
  gap: 20px;
  font-size: 25px;
}
.container header nav ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 20px;
}
.container header nav ul li {
  flex-direction: row;
}
.container header nav ul li a {
  text-decoration: none;
  color: white;
  gap: 20px;
}
.container main {
  transform: translateY(-100px);
  grid-area: main;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Calibri", sans-serif;
}
.container main p {
  font-size: 20px;
  font-family: "Calibri", sans-serif;
}
.container main iframe {
  display: block;
  margin: auto;
  transform: translateY(50px);
}
.container footer {
  grid-area: footer;
  background: linear-gradient(blue, red);
  height: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  font-family: "Calibri", sans-serif;
}/*# sourceMappingURL=style.css.map */