@import "../variables/variables";

@media only screen and (max-width: 1200px) {
    .containermerch {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "head head"
                             "mainmerch mainmerch"
                             "mainmerch mainmerch"
                             "footer footer";
        
        .headermerch {
                                grid-area: head;
                                 background: $bg-color;
                                 width: map-get($estilosheader, width);
                                 height: map-get($estilosheader, height);
                                 display: flex;
                                 flex-direction: row;
                                 justify-content: space-between;
                                 font-family: 'Calibri', sans-serif;
                        
                                 h1{
                                    text-align: center;
                                    width: 100%;
                                    @include sizes(40px, white);
                                    align-self: end;
                                }
                                img {
                                    width: 30%;
                                    height: 50%;
                                    align-self: center;
                                }
                                nav{
                                    justify-content: flex-end;
                                    width: 100%;
                                    align-self: end;
                                    gap: 20px;
                                    font-size: 25px;
                                   
                                    ul {
                                        display: flex;
                                        list-style: none;
                                        text-decoration: none;
                                        gap: 20px;
                                       
                                        li{
                                            flex-direction: row;
                                           
                                            a{
                                                text-decoration: none;
                                                color: white;
                                                gap: 20px;
                                               
                                            }
                                           
                                        }
                                    }
                                }
                        
                             }

                             .mainmerch{
                                transform: translateY(6px);
                                grid-area: mainmerch;
                                height: 100%;
                                display: grid;
                                grid-template-columns: 50% 50%;
                                grid-template-rows: 50% 50%;
                                grid-template-areas: "camiseta gorras" "cartas pelotas";
                                #remeras {
                                    width: 100%;
                                    height: 300px;
                                }
                                #pelotas {
                                    width: 100%;
                                    height: 300px;
                                }
                                #gorrasnfl {
                                    width: 100%;
                                    height: 300px;
                                }
                                #cartasnfl {
                                    width: 100%;
                                    height: 300px;
                                }
                            }
                .footermerch {
                                grid-area: footer;
                                background: linear-gradient(blue,red);
                                height: 100%;
                                color: white;
                                display: flex;
                                flex-direction: row;
                                font-family: 'Calibri', sans-serif;
                            }
     }
    
}