@media only screen and (max-width: 1200px) {
    .containermerch {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "head head"
                             "mainmerch mainmerch"
                             "mainmerch mainmerch"
                             "footer footer";
        
        .headermerch{
            height: 80%
        }

    }
    .mainmerch{
        transform: translateY(6px);
        grid-area: mainmerch;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "camiseta gorras" "cartas pelotas";
        #remeras {
            width: 100%;
            height: 300px;
        }
        #pelotas {
            width: 100%;
            height: 300px;
        }
        #gorrasnfl {
            width: 100%;
            height: 300px;
        }
        #cartasnfl {
            width: 100%;
            height: 300px;
        }
    }
}