.container {
    display: grid;
    grid-template-columns: 99%;
    grid-template-rows: 1fr 1.5fr 0.5fr;
    grid-template-areas: "head" "main" "footer";
}
header {
   grid-area: head;
    background: linear-gradient(red,blue);
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Calibri', sans-serif;
}
h1{
    text-align: center;
    width: 100%;
    color: white;
    font-size: 40px;
    align-self: end;
}
header nav{
    justify-content: flex-end;
    width: 100%;
    align-self: end;
    gap: 20px;
    font-size: 25px;
   
   
}
header nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 20px;
   
   
}
header nav ul li{
    flex-direction: row;
   
   
   
}
header nav ul li a{
    text-decoration: none;
    color: white;
    gap: 20px;
   
}
 
header img {
    width: 30%;
    height: 50%;
    align-self: center;
}
 
main {
   transform: translateY(-100px);
    grid-area: main;
    background-color: white;
    display: flex;
    flex-direction: column;
    height:100%;
    font-family: 'Calibri', sans-serif;
}
.mainindex {
    color: blue;
    font-family: 'Calibri', sans-serif;
}
main p{
    font-size: 20px;
    font-family: 'Calibri', sans-serif;
 
}
iframe {
    display: block;
    margin: auto;
    transform: translateY(50px);
}
 
footer {
    grid-area: footer;
    background: linear-gradient(blue,red);
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    font-family: 'Calibri', sans-serif;
}
.headermerch img {
    width: 10%;
    height: 20%;
}
.mainmerch {
    transform: translateY(100px);
    margin-left: 250px;
    
}

#remeras {
    width: 100%;
    height: 300px;
}
#pelotas {
    width: 100%;
    height: 300px;
}
#gorrasnfl {
    width: 100%;
    height: 300px;
}
#cartasnfl {
    width: 100%;
    height: 300px;
}
.footermerch {
    transform: translateY(300px);
}
.contactheader {
    background: linear-gradient(red,blue);
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Calibri', sans-serif;
}
.contactheader img {
    width: 10%;
    height: 20%;
}
.contactmain {
    transform: translateY(100px);
    margin-left: 10px;
}

.contactfooter {
    transform: translateY(580px);
}


@media only screen and (max-width: 1200px) {
    /* index media query */
    .container {
        display: grid;
        grid-template-columns: 99%;
        grid-template-rows: 1fr 1.5fr 0.5fr;
        grid-template-areas: "head" "main" "footer";
    }
    header {
       grid-area: head;
        background-color: red;
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Calibri', sans-serif;
    }
    h1{
        text-align: center;
        width: 100%;
        color: white;
        font-size: 25px;
        align-self: end;
    }
    header nav{
        justify-content: center;
        width: 100%;
        align-self: end;
        gap: 2px;
        font-size: 15px;
        
    }
    header nav ul {
        display: flex;
        list-style: none;
        text-decoration: none;
        gap: 20px;
        flex-direction: row;
        justify-content: center;
       
       
    }
    header nav ul li{
        flex-direction: row;
       
       
       
    }
    header nav ul li a{
        text-decoration: none;
        color: white;
        gap: 20px;
       
    }
     
    header img {
        width: 50%;
        height: 30%;
        align-self: center;
    }
     
    main {
       transform: translateY(-150px);
        grid-area: main;
        background-color: white;
        display: flex;
        flex-direction: column;
        height:100%;
        font-family: 'Calibri', sans-serif;
    }
    .mainindex {
        color: blue;
        font-family: 'Calibri', sans-serif;
    }
    main p{
        font-size: 20px;
        font-family: 'Calibri', sans-serif;
     
    }
    iframe {
        display: block;
        margin: auto;
        width: 70%;
        height: 50%;
    }
     
    footer {
        grid-area: footer;
        background-color: blue;
        height: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        font-family: 'Calibri', sans-serif;
        font-size: 15px;
    }
    
    
    /*merch media query */
    .containermerch {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "head head"
                             "mainmerch mainmerch"
                             "mainmerch mainmerch"
                             "footer footer";
    }
     
    .headermerch {
        height: 80%
    }
    .mainmerch{
        transform: translateY(6px);
        grid-area: mainmerch;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "camiseta gorras" "cartas pelotas";
    }
    .productos {
        text-align: center;
        font-size: 15px;
    }
    #imgyersey {
        width: 40%;
        height: 40%;
    }
    #camiseta{
        grid-area: camiseta;
    }
    #gorras{
        grid-area: gorras;
    }
    #cartas {
        grid-area: cartas;
    }
    #pelotas {
        grid-area: pelotas;
    }
     
    .footermerch {
        height: 90%;
        font-size: 15px;
        align-self: flex-end;
    }
    /*FIXTURE Y TEAMS */

    #mainfixture {
        transform: translateY(400px);
    }
}
